<mat-toolbar id="navegador">
  <button mat-icon-button class="example-icon" id="menuSecciones">
      <mat-icon>menu</mat-icon>
  </button>
  <mat-menu>
      <button mat-menu-item>Inicio</button>
      <button mat-menu-item>Productos</button>
  </mat-menu>
  <a><img src="./assets/logo-bueno.png" id="logo"></a>
  <!-- Inicio de la pagina -->
  <button mat-button  id="menuInicio">Inicio</button>

  <!-- Productos -->
  <button mat-button id="menuProductos">Productos</button>

      <!-- Botones con iconos -->
  <span class="example-spacer"></span>

    <!-- Inicio de sesion y el registro del nuevo usuario -->
  <button mat-button ><mat-icon>account_circle</mat-icon></button>
  <mat-menu>
      <button mat-menu-item routerLink="/registro">Registrarse</button>
      <button mat-menu-item routerLink="/inicio-sesion">Iniciar sesion</button>
  </mat-menu>

    <!-- Carrito -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>