<mat-toolbar id="navegador">
  <button mat-icon-button class="example-icon" id="menuSecciones" [matMenuTriggerFor]="seccion">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #seccion="matMenu"> 
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item routerLink="/servicios">servicios</button>
  </mat-menu>


  <a routerLink="/inicio"><img src="./assets/logo-rosa.png" height="100%" id="logo"></a>
  <!-- Inicio de la pagina -->
  <button mat-button id="menuInicio" routerLink="/inicio">Inicio</button>

  <!-- Productos
  <button mat-button [matMenuTriggerFor]="servicios" id="menuServicios">Servicios</button>
  <mat-menu #servicios="matMenu">
    <button mat-menu-item routerLink="/card">Servicios presenciales.</button>
    <button mat-menu-item routerLink="/card-distancia">Servicios a distancia.</button>
  </mat-menu>
 -->
 <button mat-button routerLink="/servicios">Servicios</button>

  <!-- Contacto -->
  <button mat-button routerLink="/contacto">Contacto</button>

  <!-- Admin -->
  <button mat-button routerLink="/admin" id="admin">Admin</button>

  <!-- Botones con iconos -->
  <span class="example-spacer"></span>

  <!-- Inicio de sesion y el registro del nuevo usuario -->
  <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>account_circle</mat-icon></button>
  <!-- Menu desplegable para manejar todo el acceso de lo susuarios en la pagina -->
  <mat-menu #usuario="matMenu">
    <button mat-menu-item (click)="Iniciar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
    <button mat-menu-item (click)="Iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar sesion</button>
    <button mat-menu-item (click)="Cerrarsesion()" *ngIf="deslogueado">Cerrar Sesion</button>
  </mat-menu>

  <!-- Carrito -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <!-- label para el modo oscuro -->
  <label for="toggle" id="label_toggle"><i class="fa-regular fa-moon" style="color: white;"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarFondo()">
</mat-toolbar>