@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=M+PLUS+1+Code:wght@100..700&display=swap');

.example-spacer {
  flex: 1 1 auto;
}

button {
  background-color:#d68cce;
  border: none;
  color: white;
  padding: 15px;
}

#navegador {
  display: flex;
  padding: 0;
  height: 135px;
  font-family: "M PLUS 1 Code", monospace;
  width: 100%;
}

#logo {
  width: 135px;
  margin: 5px;
}

@media(min-width: 300px) and (max-width: 700px¿¿) {
  mat-toolbar {
    background-color: #d68cce;
  }

  #menuInicio {
    display: none;
  }

  #menuServicios {
    display: none;
  }
}


/* ENCAPSULA ESTILOS PRA PANTALLAS MAS GRANDES -- EJ: computadora, televisor*/
@media (min-width:700px) {
  mat-toolbar {
    background-color: #d68cce;
  }

  #menuSecciones {
    display: none;
  }
}