@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=M+PLUS+1+Code:wght@100..700&display=swap');
#footer{
    background-color: #d68cce;
    padding-bottom: 25px;
    margin-top: 25px;
    font-family: "M PLUS 1 Code", monospace;
    color: white;
}

*{
    font-family: "M PLUS 1 Code", monospace;
    color: white;
}
#footer mat-list-item .mat-list-text{
    font-family: "M PLUS 1 Code", monospace;
}


svg{
    color: white;
    padding: 2px;
}
