
#imagenes-carrusel{
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.carousel-inner{
    justify-content: center;
    text-align: center;
  
}

#bio-carrusel{
    color: black;
}
h3{
    font-size: 25px; 
    font-family: "M PLUS 1 Code", monospace;
    background-color: rgba(0, 0, 0, 0.438);
    
}


