
body, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{ display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.contact-container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    background-color:#d68cce; ;
    text-align: center;
}
