@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=M+PLUS+1+Code:wght@100..700&display=swap');
.container {
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-family: "M PLUS 1 Code", monospace;
}

.texto-card {
    color: black;
    text-align: center;
    font-family: "M PLUS 1 Code", monospace;

}

h1 {
    text-align: center;
    font-family: "M PLUS 1 Code", monospace;
}
.contenido {
    background-color: #d68cce;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    transition: all 300ms;
    width: 80%;
}
.contenido:hover{
transform: scale(1.05);
}
p {
    padding: 5px;
}

section {
    display: flex;
}

mat-card-actions {
    justify-content: center;
}

.example-button-row {
    display: flex;
    max-width: 600px;
}

#agregar {
    background-color: #d68cce;
    font-family: "M PLUS 1 Code", monospace;    
}