/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}


/* ESTILO PARA MODO OSCURO */
body {
    transition: all 1, 5 ease;
}

#toggle {
    display: none;
}

#label_toggle {
    position: static;
    cursor: pointer;
}

.dark {
    background-color: black;
    color: white;
    transition: all 1, 5 ease;
}